html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	color: #fff;
	background-color: #222;
	margin: 0px;
	height: 100%;
}

h1 {
	font-weight: 300;
}

a {
	color: #20e2c8;
	text-decoration: none;
}

a:hover {
	color: #038b79;
}

#main {
	width: 85%;
	margin-left: 15%;
	margin-top: 45px;
}

header {
	/*width: 100%;*/
	padding: 4px;
	padding-left: 10px;
	border-bottom: 1px solid #038b79;
	min-height: 35px;
}

#logo {
	display: inline;
	float: left;
	font-size: 2em;
	font-weight: 300;
	margin-right: 40px;
	color: #fff;
	margin-top: -4px;
}

header nav {
	display: inline;
}

header nav a {
	font-size: 1.7em;
	font-weight: 300;
	color: #20e2c8;
}

header nav a:visited {
	color: #20e2c8;
}

header nav a:hover {
	color: #038b79;
}

nav ul {
	margin: 0px;
	padding: 0px;
	display: inline;
}

nav ul li {
	list-style: none;
	float: left;
	margin-right: 20px;
}

.authPopup {
	display: none;
	position: absolute;
	right: 20px;
	top: 20px;
	height: 250px;
	width: 350px;
	border-radius: 3px;
	background-color: #06a18d;
	color:#fff;
	z-index: 1;	
}

.authPopup h2 {
	margin: 0px;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 6px;
	font-size: 1.25em;
	font-weight: 300;
	background-color:#038b79;
	color:#fff;	
}

#login {
	height: 200px;
}

#openLoginButton {
	position: absolute;
	right: 100px;
	top: 35px;
}

#openLoginButton:hover, #closeLoginButton:hover {
	color: #fff;
}

#openRegistrationButton {
	position: absolute;
	right: 20px;
	top: 35px;
}

#openRegistrationButton:hover {
	color:#fff;
}

#closeRegistrationButton, #closeLoginButton {
	text-decoration: none;
	position: absolute;
	font-size: 1.2em;
	top: 5px;
	right: 8px;
}

#registration p {
	margin: 6px;
	margin-top: 12px;
	text-align:center;
}

.buttonLinks {
	color:#fff;
	text-decoration: none;
	background:#038b79;
	padding:8px;
	margin:7px;
	border-radius:2px;
}

#registrationLinks {
	text-align:center;
	position: absolute;
	bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#registration a:visited {
	color:#fff;
}

#registration a:hover {
	color:#fff;
}

#registrationForm {
	display: none;
	margin: 8px;
}

#loginForm {
	margin: 8px;
}

.authPopup td {
	width: 50%;
}

.authPopup input {
	border: 1px solid #038b79;
	border-radius: 5px;
	padding: 4px;

}

.authPopup #registerButton, .authPopup #loginButton {
	background-color: #038b79;
	color: #fff;
	padding: 10px;
	font-size: 1.1em;
	position: absolute;
	right: 30px;
	bottom: 25px;
}

#registrationForm #registrationBack {
	position: absolute;
	bottom: 25px;
} 

#search {
	clear: both;
}

article {
	margin-top: 30px;
	margin-left: 20px;
}

article article {
	margin: 0px;
}

#userlist ul {
	margin: 0px;
	padding: 0px;
}

#userlist ul li {
	list-style: none;
	font-weight: 300;
}

#userlist #nameSort li {
	margin-bottom: 20px;
}

#userlist #nameSort li a {
	color: #20e2c8;
	font-size: 1.4em;
}

#userlist #nameSort li a:hover {
	color: #038b79;
}

#userlist ul li p {
	font-size: 1em;
	margin-left: 10px;
	margin-top: 3px;
	color: #ccc;
}

#userlist form {
	float: right;
	margin-right: 120px;
}

#userlist .topicName {
	font-size: 1.4em;
	font-weight: 300;
	border-bottom: 1px solid #038b79;
	width: 35%;
}

#userlist .userTopics {
	font-size: 1em !important; 
}

#userlist #topicSort ul {
	margin-left: 20px;
	margin-bottom: 40px;
}

#userlist #topicSort a {
	color: #20e2c8;
}

#userlist #topicSort a:hover {
	color: #038b79;
}

#userProfile {
	position: relative;
}

#userStats {
	position: absolute;
	top: -8px;
	left: 140px;
	width: 450px;
}

#userBio {
	width: 600px;
	margin-right: 0px;
}

#userBio h1 {
	font-weight: 300;
	font-size: 1.7em;
	color: #20e2c8;
	margin: 0px;
	display: inline;
}

#userBio h2 {
	font-weight: 300;
	font-size: 1.1em;
	margin-left: 12px;
	color: #ccc;
	display: inline;

}

.usersLessons {
	min-height: 200px;
	max-width: 950px;
}

.usersLessons h3 {
	font-weight: 300;
	font-size: 1.4em;
	border-bottom: 1px solid #038b79;
	width: 35%;
}

#lessonsSet {
	clear: both;
	width: 75%;
	margin-top: 25px;
}

.lesson {
	background: #444;
	width: 275px;
	height: 420px;
	border-radius: 2px;
	position: relative;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

.lesson .lessonTitle {
	font-weight: 300;
}

.lesson a {
	color: #20e2c8;
}

.lesson .lessonTitle a:hover {
	color: #038b79;
}

.lesson .authorImage {
	position: absolute;
	top: 70px;
	left: 10px;
	border: 1px solid #000;
}

.lesson .lessonAuthor {
	position: absolute;
	top: 95px;
	left: 80px;
	font-weight: 300;
	font-size: 1.17em;
	color: #fff;
}

.lesson .lessonAuthor a {
	color: #fff;
}

.lesson .lessonTitle {
	margin-top: 35px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.lesson .lessonExcerpt {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 0.9em;
}

.lesson .lessonTopics {
	width: 94%;
	background-color: #038b79;
	position: absolute;
	bottom: 0px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	font-size: 0.8em;
	color: #fff;
	padding: 3%;
}

.lesson .lessonTopics a {
	color: #fff;
}

.lesson .lessonTopics a:hover {
	color: #20e2c8;
}

#lessonSort {
	position: absolute;
	right: 1px;
}

#lessonSort ul {
	margin: 0px;
	padding: 0px;
}

#lessonSort ul ul {
	margin-left: 20px;
}

#lessonSort li {
	list-style: none;
}

#lessonsTagTitle {
	font-weight: 300;
	display: inline;
}

#followTopicLink {
	display:inline;
	margin-left: 10px;
}

#followSetting {
	display: inline;
}

#lessonSort .topicCategory {
	background: #06a18d;
	padding: 4px;
	width: 275px;
	font-weight: 300;
	font-size: 1.1em;
	border-bottom: 1px solid #20e2c8;
	clear: both;
}

#lessonSort .dropdownTopics {
	display: none;
	/*background-color: #038b79;*/
	padding: 3px;
}

#lessonSort .dropdownTopics li a {
	color: #fff;
}

#lessonSort .dropdownTopics li a:hover {
	color: #20e2c8;
}

#fullLesson {
	width: 65%;
	position: relative;
	background: #444;
	border-radius:2px;
}

#fullLesson #lessonInfo {
	width: 45%;
	border-bottom: 1px solid #038b79;
	background: #038b79;
	padding-left: 2%;
	padding-top: 2%;
	width:98%;
	border-radius:2px;
}

#editLink {
	position: absolute;
	top: 7px;
	right: 7px;
}

#fullLesson h1 {
	font-size: 1.9em;
	font-weight: 300;
	display: inline;
}

#fullLesson h2 {
	font-size: 1.3em;
	font-weight: 300;
	display: inline;
	margin-left: 20px;
}

#fullLesson h3 {
	font-size: 1em;
	font-weight: 300;
	margin-top:2px;
	margin-bottom:10px;
}

#fullLesson #lessonInfo a:hover {
	color: #fff;
}

#fullLesson a {
	color: #20e2c8;
}

#fullLesson a:hover {
	color: #038b79;
}

#fullLesson #lessonContent {
	margin-left: 20px;
	margin-top: 20px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 0.9em;
}

#editProfile h1 {
	font-weight: 300;
	font-size: 1.7em;
	margin-bottom: 7px;
	border-bottom: 1px solid #038b79;
	width: 20%;
}

#editProfile table {
	width: 500px;
}

#editProfile form input[type=text], #editProfile form input[type=email]{
	border: 0px;
	border-radius: 2px;
	height: 30px;
	font-size: 1.2em;
	padding: 3px;
}

#editProfile form textarea {
	border: 0px;
	border-radius: 2px;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}

#editProfile form input[readonly] {
	background: #ccc;
}

#editProfile #updateButton {
	background-color: #038b79;
	color: #fff;
	padding: 10px;
	font-size: 1.1em;
	border: 1px solid #038b79;
	border-radius: 5px;
}

#userbar {
	background: #00695b;
	border-right:2px solid #038b79;
	width: 14%;
	position: fixed;
	top: 0px;
	bottom: 0px;
}

#userbar #userbarInfo {
	text-align: center;
	margin: 10px;
}

#userbar #userbarInfo h2 {
	margin-top: 5px;
	font-weight: 300;
	font-size: 1.5em;
}

#userbar #userbarLinks {
	margin: 10px;
}

#userbar #userbarLinks h3 {
	font-weight: 300;
	font-size: 1.1em;
}

#userbar #userbarLinks h3 a {
	color: #fff;	
}

#userbar #userbarLinks h3 a:hover {
	color: #20e2c8;
}

#createPost form #createPostTitle {
	border: 0px;
	border-radius: 2px;
	width: 20%;
	height: 30px;
	font-size: 1.2em;
	padding: 3px;
}

#createPost form #createPostContent {
	border-radius: 2px;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}

#createPost form #createPostButton {
	background-color: #038b79;
	color: #fff;
	padding: 10px;
	font-size: 1.1em;
	border: 0px;
	border-radius: 5px;
}

#createPost h1 {
	font-weight: 300;
	font-size: 1.7em;
	margin-bottom: 7px;
	border-bottom: 1px solid #038b79;
	width: 20%;
}

#createPost h2 {
	font-weight: 300;
	font-size: 1.4em;
	margin-bottom: 7px;
	border-bottom: 1px solid #038b79;
	width: 20%;
}

.paginationNavigation {
	clear: both;
}

.tweet {
	background: #444;
	border-radius: 2px;
	width: 275px;
	margin-bottom: 30px;
	position: relative;
}

.tweet p {
	padding: 2%;
	font-size: 0.9em;
	margin: 0px;
}

#socialMedia {
	width: 450px;
	position: absolute;
	right: -50px;
	top: 0px;
}

#userTweets {
	position: relative;
	width: 275px;
}

#userTweets h3 {
	font-weight: 300;
	font-size: 1.4em;
	border-bottom: 1px solid #038b79;
	width: 70%;
}

.tweetTopics {
	width: 94%;
	background-color: #038b79;
	bottom: 0px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	font-size: 0.8em;
	padding: 3%;
}

.tweetTopics a {
	color: #fff;
}

.tweetTopics a:hover {
	color: #20e2c8;
}

#twitterLogo {
	position: absolute;
	top: 0px;
	right: 10px;
}

#flickr {
	width: 250px;
	background-color: #444;
	text-align: center;
	border-radius: 2px;
}

#photos {
	padding: 2%;
}

.flickrPhoto {
	display: inline;
}

#flickrLink {
	text-align: left;
	color: #fff;
	background-color: #038b79;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 3%;
}

#flickrLink a {
	color: #fff;
}

#flickrLink a:hover {
	color: #20e2c8;
}

#userSettings h1 {
	font-weight: 300;
}

#publicTweets, #dashboardTweets {
	margin-top: 50px;
}

#publicTweets h3, #dashboardTweets h3 {
	font-weight: 300;
	font-size: 1.4em;
	border-bottom: 1px solid #038b79;
	width: 70%;
}

#publicTweets h4, #dashboardTweets h4 {
	font-weight: 300;
	margin: 0px;
	padding: 5px;
	color: #20e2c8;
}

#dashboard #lessonSet {
	max-width: 950px;
}

#dashboard #tweetSet {
	clear: both;
	position: absolute;
	right: 9px;
	top: 100px;
}

#search {
	display: inline;
	position: relative;
}

#search form {
	width: 0px;
	height: 0px;
}

#search input {
	width: 20px;
	border: 1px solid #038b79;
	border-radius: 5px;
	padding: 4px;
	background-color: #fff;
	background-image: url("search.png");
	background-repeat: no-repeat;
	background-position: right center;
}

#search #searchResults {
	background: #444;
	padding: 5px;
	position: absolute;
	z-index: 11;
	width: 320px;
	color: #444;
	border-radius: 2px;
	display: none;
	top: 43px;
	left: -149px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(10, 10, 10, 0.26);
	-moz-box-shadow: 5px 5px 5px 0px rgba(10, 10, 10, 0.26);
	box-shadow: 5px 5px 5px 0px rgba(10, 10, 10, 0.26);
}

#searchResults:after, #searchResults:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#searchResults:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #444;
	border-width: 10px;
	margin-left: -10px;
}
#searchResults:before {
	border-color: rgba(68, 68, 68, 0);
	border-bottom-color: #444;
	border-width: 11px;
	margin-left: -11px;
}

#search #searchResults ul {
	margin: 0px;
	padding: 0px;
}

#search #searchResults li {
	list-style: none;
	margin: 0px;
	margin-bottom: 10px;
}

#searchResults .searchTitle {
	font-size: 1.2em;
}

.searchAuthor {
	display: block;
	color: #fff;
}

.searchAuthor:hover {
	color: #fff;
}